<!-- wrapper -->
<div class="wrapper">
    <div class="authentication-reset-password d-flex align-items-center justify-content-center">
        <div class="row">
            <div class="col-12 col-lg-10 mx-auto">
                <div class="card">
                    <div class="row g-0">

                        <div class="col-lg-5 border-end">
                            <div class="card-body">
                                <div class="p-5">
                                    <div class="text-start">
                                        <!--img src="assets/images/logo-img.png" width="180" alt=""-->
                                    </div>

                                    <h4 class="mt-5 font-weight-bold">Comienza a trabajar con nosotros </h4>

                                    <p class="">Hemos recibido tu solicitud de registro, apoyanos subiendo tu
                                        documentacion para que puedas empezar trabajar</p>

                                    <div class="card-body">
                                        <div class="card-title">
                                            <h4 class="mb-0">Sube tu documentacion</h4>
                                        </div>
                                        <hr />
                                        <input id="fancy-file-upload" type="file" name="files" accept=".jpg, .png, image/jpeg, image/png" multiple>
                                    </div>

                                    <div class="d-grid gap-2">
                                        <button type="button" class="btn btn-light" (click)="onLogin()">Enviar Documentos</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-7">
                            <img src="assets/images/login-images/forgot-password-frent-img.jpg"
                                class="card-img login-img h-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end wrapper -->