<!--end breadcrumb-->
<div class="row">
	<div class="col-12 col-lg-9 d-flex">
		<div class="card w-100">

			<div class="card-body">

				<div class="card-body">
					<div class="card-title"> <h4 class="mb-0">Dibujos 2D</h4> </div>
					<hr/>
					<input id="fancy-file-upload" type="file" name="files" accept=".jpg, .png, image/jpeg, image/png" multiple>
				</div>

				<div class="card-body">
					<div class="card-title"> <h4 class="mb-0">Dibujos 3D</h4> </div>
					<hr />
					<form>
						<input id="image-uploadify" type="file" accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf" multiple>
					</form>
				</div>

			</div>
		</div>
	</div>
	<div class="col-12 col-lg-3 d-flex">
		<div class="card w-100">
			<div class="card-header py-3"><h5 class="mb-0">Nuevo Proyecto by</h5></div>
			<div class="card-body">
				<form class="row g-3">

					<div class="col-12">
						<label class="form-label">Tipo de proyecto</label>
						<select class="form-select">
							<option>Urgente</option>
							<option>Automatizacion</option>
							<option>Fixturesx/Gauges</option>
							<option>Refacciones/Piezas de desgaste</option>
						</select>
					</div>

					<div class="col-12">
						<label class="form-label">Fecha limite </label>
						<input type="date" class="form-control">
					</div>

					<div class="col-12">
						<label class="form-label">Condiciones de pago</label>
						<select class="form-select">
							<option>Tarjeta</option>
							<option>Efectivo</option>
							<option>Transferencia</option>
						</select>
					</div>


					<div class="col-12">
						<label class="form-label">Numero de piezas</label>
						<input type="text" class="form-control" placeholder="piezas">
					</div>

					<div class="col-12">
						<label class="form-label">Piezas espejo</label>
						<input type="text" class="form-control" placeholder="espejo">
					</div>

					<div class="col-12">
						<div class="d-grid"><button class="btn btn-light">Guardar</button></div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>
<!--end row-->