<!--wrapper-->
<div class="wrapper">
	<div class="d-flex align-items-center justify-content-center my-5 my-lg-0">
		<div class="container">
			<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">
				<div class="col mx-auto">
					<div class="my-4 text-center">
						<img src="assets/images/logo-img.png" width="180" alt="" />
					</div>
					<div class="card">
						<div class="card-body">
							<div class="border p-4 rounded">
								<div class="text-center">
									<h3 class="">Registrate</h3>
									<p>¿Ya tienes una cuenta ? <a href="JavaScript:;" (click)="onSignIn()">Ingresa
											aqui</a>
									</p>
								</div>

								<div class="login-separater text-center mb-4">
									<hr />
								</div>


								<div class="form-body">
									<form class="row g-3" [formGroup]="formRegistrousuario" (ngSubmit)="submitForm()">

										<div class="row mb-3">
											<label  class="col-sm-3 col-form-label" for="nombre">Nombre</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Nombre">
											</div>
										</div>
										<div class="row mb-3">
											<label class="col-sm-3 col-form-label" for="telefono">Telefono contacto</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="telefono" formControlName="telefono" placeholder="Telefono"> 
											</div>
										</div>

										<div class="row mb-3">
											<label class="col-sm-3 col-form-label" for="correo">Correo</label>
											<div class="col-sm-9">
												<input type="email" class="form-control" id="correo" formControlName="correo" placeholder="Correo">
											</div>
										</div>
										<div class="row mb-3">
											<label class="col-sm-3 col-form-label" for="password">Password</label>
											<div class="col-sm-9">
												<input type="email" class="form-control" id="password" formControlName="password" placeholder="Password">
											</div>
										</div>
										<div class="row mb-3">
											<label for="inputConfirmPassword2" class="col-sm-3 col-form-label">Confirmar Password</label>
											<div class="col-sm-9">
												<input type="email" class="form-control" id="password" formControlName="password" placeholder="Password dos">
											</div>
										</div>																		
										<div class="radio-group">					
											<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" (change)="seleccionarOpcion('Cliente')">
											<label class="form-check-label" for="flexRadioDefault1">Cliente</label>
										
						
											<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" (change)="seleccionarOpcion('Proveedor')">
											<label class="form-check-label" for="flexRadioDefault2">Proveedor</label>
										</div>
										<p>Opción seleccionada: {{ opcionSeleccionada }}</p>
										<div class="col-12">
											<div class="form-check form-switch">
												<input class="form-check-input" type="checkbox"
													id="flexSwitchCheckChecked">
												<label class="form-check-label" for="flexSwitchCheckChecked">Acepto los
													terminos y condiciones</label>
											</div>
										</div>
										<div class="col-12">
											<div class="d-grid">
												<!--button type="submit" class="btn btn-light"><i class='bx bx-user' (click)="onSignIn()"></i>Registrarse</button-->
												<button class="btn btn-light" (click)="guardarUsuarioApi()"><i class='bx bx-user' ></i>Registrarse</button>
											</div>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end row-->
		</div>
	</div>
</div>
<!--end wrapper-->