<vex-secondary-toolbar current="Form Wizard">
    <vex-breadcrumbs
      [crumbs]="['Forms', 'Form Wizard']"
      class="flex-auto"></vex-breadcrumbs>
  
    <button class="ml-2" color="primary" mat-icon-button type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>
  </vex-secondary-toolbar>
  
  <div @stagger class="p-6 container">
   
  
   
  
    <h2 class="title mt-6 mb-4 flex items-center">
      <span
        @scaleIn
        class="w-10 h-10 rounded-full text-primary-600 mr-3 flex items-center justify-center bg-primary-600/10">
        <mat-icon class="icon-sm" svgIcon="mat:vertical_split"></mat-icon>
      </span>
      <span @fadeInRight class="block">Registro Proveedor</span>
    </h2>
  
    <div @fadeInUp class="card overflow-hidden">
      <mat-vertical-stepper #verticalStepper="matVerticalStepper" [linear]="true">
        <ng-template matStepperIcon="edit">
          <mat-icon svgIcon="mat:done_all"></mat-icon>
        </ng-template>
  
        <ng-template matStepperIcon="done">
          <mat-icon svgIcon="mat:done_all"></mat-icon>
        </ng-template>
  
        <mat-step [stepControl]="verticalAccountFormGroup">
          <form [formGroup]="verticalAccountFormGroup">
            <ng-template matStepLabel>Registro</ng-template>
  
            <div class="title m-0">Datos principales</div>
            <div class="subheading-1">
              Favor de completar su informacion para el registro como proveedor.
            </div>
  
            <div class="mt-4 flex flex-col gap-2">
              
              <mat-form-field class="flex-auto">
                <mat-label>Nombre de la empresa</mat-label>
                <input formControlName="username" matInput  />
                <mat-hint>Nombre comercial de la empresa.</mat-hint>
              </mat-form-field>
  
              <mat-form-field class="flex-auto">
                <mat-label>Direccion</mat-label>
                <input formControlName="name" matInput  />
                <mat-hint>Direccion fisica</mat-hint>
              </mat-form-field>
  
              <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                
                <mat-form-field class="flex-auto">
                  <mat-label>E-Mail</mat-label>
                  <input formControlName="email" matInput  />
                  <mat-hint align="end">example&#64;example.com</mat-hint>
                </mat-form-field>
  
                <div class="flex-auto flex gap-2">
                  <mat-form-field class="vex-flex-form-field flex-none">
                    <mat-label>Code</mat-label>
                    <mat-select formControlName="phonePrefix">
                      <mat-option
                        *ngFor="let option of phonePrefixOptions"
                        [value]="option"
                      >{{ option }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
  
                  
                </div>
              </div>


            </div>
  
            <div class="actions flex items-center justify-end gap-2">
              <button
                (click)="verticalStepper.reset()"
                [disabled]="verticalAccountFormGroup.pristine"
                color="primary"
                mat-button
                type="button">
                Limpiar
              </button>
              <button
                [disabled]="verticalAccountFormGroup.invalid"
                color="primary"
                mat-raised-button
                matStepperNext>
                Siguiente
              </button>
            </div>
          </form>
        </mat-step>
  
        <mat-step [stepControl]="verticalPasswordFormGroup">
          <form [formGroup]="verticalPasswordFormGroup">
            <ng-template matStepLabel>Select a Password</ng-template>
  
            <div class="title m-0">Select a Password</div>
            <div class="subheading-1">
              Enter your password you will use to log in.
            </div>
  
            <div class="mt-4 flex flex-col gap-2">
              <mat-form-field class="flex-auto">
                <mat-label>Password</mat-label>
                <input [type]="passwordInputType" formControlName="password" matInput  />
                <button (click)="showPassword()" *ngIf="passwordInputType === 'password'" mat-icon-button matIconSuffix type="button">
                  <mat-icon svgIcon="mat:visibility"></mat-icon>
                </button>
                <button
                  (click)="hidePassword()"
                  *ngIf="passwordInputType === 'text'"
                  mat-icon-button
                  matIconSuffix
                  type="button">
                  <mat-icon svgIcon="mat:visibility_off"></mat-icon>
                </button>
                <mat-hint
                >Your password should be atleast 6 characters long.
                </mat-hint>
              </mat-form-field>
  
              <mat-form-field class="flex-auto">
                <mat-label>Confirm Password</mat-label>
                <input [type]="passwordInputType" formControlName="passwordConfirm" matInput/>
                <button (click)="showPassword()" *ngIf="passwordInputType === 'password'" mat-icon-button matIconSuffix type="button">
                  <mat-icon svgIcon="mat:visibility"></mat-icon>
                </button>
                <button
                  (click)="hidePassword()"
                  *ngIf="passwordInputType === 'text'"
                  mat-icon-button
                  matIconSuffix
                  type="button">
                  <mat-icon svgIcon="mat:visibility_off"></mat-icon>
                </button>
                <mat-hint>Please type in your password again.</mat-hint>
              </mat-form-field>
            </div>
  
            <div class="actions flex items-center justify-end gap-2">
              <button color="primary" mat-button matStepperPrevious type="button"> Regresar </button>
              <button [disabled]="verticalPasswordFormGroup.invalid" color="primary" mat-raised-button matStepperNext> Siguiente </button>
            </div>
          </form>
        </mat-step>
  
        <mat-step [stepControl]="verticalConfirmFormGroup">
          <form [formGroup]="verticalConfirmFormGroup">
            <ng-template matStepLabel>Confirm Creation</ng-template>
  
            <div class="title m-0">Ya casi estamos!</div>
            <div class="subheading-1">
              Para finalizar el registro, acepte nuestros términos de servicio y haga clic en "Crear una cuenta"
            </div>
  
            <div class="mt-4 flex flex-col gap-2">
              <mat-checkbox class="checkbox" formControlName="terms">
                Acepto los términos de servicio. *
              </mat-checkbox>
            </div>
  
            <div class="actions flex items-center justify-end gap-2">
              <button color="primary" mat-button matStepperPrevious type="button">Regresar</button>
              <button (click)="submit()" [disabled]="verticalConfirmFormGroup.invalid" color="primary" mat-raised-button matStepperNext>Crear cuenta </button>
            </div>
          </form>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
  