
<div class="card radius-10">
	<div class="card-body">
        <div class="d-flex align-items-center">
			<div>
				<h5 class="mb-0">Tus proyectos </h5>
			</div>
			<div class="font-22 ms-auto"><i class='bx bx-dots-horizontal-rounded'></i>
			</div>
		</div>

		<div class="table-responsive lead-table">
			<table class="table mb-0 align-middle">
				<thead class="table-light">
					<tr>
						<th>Tek id</th>
						<th>Proyecto</th>
                        <th>Numero de OC</th>                        
						<th>Progreso</th>
						<th>Ultima actualizacion</th>
						<th>Estatus</th>
					</tr>
				</thead>
				<tbody>
					<tr>
                        <td>#897656</td>
						<td>
							<div class="d-flex align-items-center">
																
								<div class="ms-2">									
									<p class="mb-0 font-13">Proyecto 1</p>
								</div>
							</div>
						</td>
						<td>20</td>
						<td class=" w-25">
							<div class="progress radius-10" style="height:4.5px;">
								<div class="progress-bar" role="progressbar" style="width: 66%"></div>
							</div>
						</td>
						<td>14 Oct 2020</td>
						<td>
							<div class="badge rounded-pill bg-light w-100">In Progress</div>
						</td>
					</tr>
					<tr>
                        <td>#897656</td>
						<td>
							<div class="d-flex align-items-center">								
								
								<div class="ms-2">
									<p class="mb-0 font-13">Proyecto 2</p>
								</div>
							</div>
						</td>
						<td>20</td>
						<td class=" w-25">
							<div class="progress radius-10" style="height:4.5px;">
								<div class="progress-bar" role="progressbar" style="width: 76%"></div>
							</div>
						</td>
						<td>15 Oct 2020</td>
						<td>
							<div class="badge rounded-pill bg-light w-100">Cancelled</div>
						</td>
					</tr>
					<tr>
                        <td>#897656</td>
						<td>
							<div class="d-flex align-items-center">								
								<div class="ms-2">
									<p class="mb-0 font-13">Proyecto 3</p>
								</div>
							</div>
						</td>
						<td>20</td>
						<td class=" w-25">
							<div class="progress radius-10" style="height:4.5px;">
								<div class="progress-bar" role="progressbar" style="width: 100%"></div>
							</div>
						</td>
						<td>16 Oct 2020</td>
						<td>
							<div class="badge rounded-pill bg-light w-100">Completed</div>
						</td>
					</tr>
					<tr>
                        <td>#897656</td>
						<td>
							<div class="d-flex align-items-center">
								<div class="ms-2">
									<p class="mb-0 font-13">Proyecto 4</p>
								</div>
							</div>
						</td>
						<td>20</td>
						<td class=" w-25">
							<div class="progress radius-10" style="height:4.5px;">
								<div class="progress-bar" role="progressbar" style="width: 58%"></div>
							</div>
						</td>
						<td>18 Oct 2020</td>
						<td>
							<div class="badge rounded-pill bg-light w-100">In Progress</div>
						</td>
					</tr>
					<tr>
                        <td>#897656</td>
						<td>
							<div class="d-flex align-items-center">								
								<div class="ms-2">
									<p class="mb-0 font-13">Proyecto 5</p>
								</div>
							</div>
						</td>
                        <td>10</td>
						<td class=" w-25">
							<div class="progress radius-10" style="height:4.5px;">
								<div class="progress-bar" role="progressbar" style="width: 66%"></div>
							</div>
						</td>
						<td>22 Oct 2020</td>
						<td>
							<div class="badge rounded-pill bg-light w-100">Cancelled</div>
						</td>
					</tr>
					<tr>
                        <td>#897656</td>
						<td>
							<div class="d-flex align-items-center">															
								<div class="ms-2">
									<p class="mb-0 font-13">Proyecto 6</p>
								</div>
							</div>
						</td>
						<td>20</td>
						<td class=" w-25">
							<div class="progress radius-10" style="height:4.5px;">
								<div class="progress-bar" role="progressbar" style="width: 100%"></div>
							</div>
						</td>
						<td>24 Oct 2020</td>
						<td>
							<div class="badge rounded-pill bg-light w-100">Completed</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!--end row-->